#body{
    width: 960px;   
    margin: 0 auto;
    position: relative;
}
#content {
    
    position: relative;
}

#content div:first-child{
    position: relative;
    
}

#home_wrapper {
    width: 800px;
    height: 400px;
    background-color: #f00;
}

#contact_wrapper {
    width: 800px;
    height: 400px;
    background-color: #0f0;
}


#portfolio_wrapper {
    width: 800px;
    height: 400px;
    background-color: #00f;
}

.transholder {
    width: 100%;
    height: 100%;
}

.trans {
    width:200px; 
    height:200px;
    background-color: #000;
}

@media (min-width: 968px) {
    #content div:first-child{
        margin-top: 60px;
    }
}