#body{
    width: 1170px;
    margin: 0 auto;
    position: relative;
}
#content {
    margin-top: 60px;
    position: relative;
}

#content div:first-child{
    position: relative;
    width: 100%;
    height: 500px;
    border: solid 1px #ccc;
    background: none #fff;
    
}

p, h1 {
    margin:10px;
}

.transholder {
    width: 100%;
    height: 100%;
}

.trans {
    width:200px; 
    height:200px;
    background-color: #000;
}

#hidden_menu{
    position: absolute;
    left: 358px;
    
}

#hidden_menu ul {
    margin:0; padding: 2px;
    background: none #ccc;
    
}

#hidden_menu ul li{
    width:300px;
    list-style: none;
}

#hidden_menu ul li a{
    
    text-indent: 20px;
    display: block;
   
}

@media (max-width: 1170px) {
    #body {
        width: 98%;
    }
    
    #hidden_menu{
 
    left: 0px;
    
    }
}

@media (max-width: 960px) {
    
    #body {
        width: 98%;
    }
    
    
    #hidden_menu{
        position: absolute;
        left: 300px;
    }
}

