/* 
    Document   : utils
    Created on : Oct 19, 2012, 11:51:37 AM
    Author     : emmanuel
    Description:
        Purpose of the stylesheet follows.
*/

.popup_wrapper {
    position: relative;
}

.popup {
    padding:10px;
    background-color: #fff;
    margin: auto;
    width: 300px;
    position: relative;
    box-shadow: 0 0 20px #000;
    border-radius: 4px;
}

.popup_head {
    height:32px;
    font-weight: 600;
}

.popup_content {
    height: 200px;
}

.popup_footer {
    height:32px;
}