<h1>Home</h1>
<div>
<p>Excellent article. I just want to clear up a few things about my LaunchBar Commander program.
LaunchBar Commander is probably best categorized as a Dock system — and so may not be the best choice for people who really want to keep their desktop full of icons. Mostly you would use it as a DOCK on one side of your screen (or hidden and set to autoshow), and then turn off all desktop icons, for the cleanest desktop — rather than having LBC float undocked on your screen.
As you mention, LBC has some flexible ways to list and filter the contents of folders. If you are looking for a program to keep your desktop full of icons, LBC is not going to be for you. But if you’re interested in a docked bar that has very strong features for listing folder contents under menus, LBC may be a good choice.</p>
</div>