<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="./index.html">Project</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="">
                        <a data-link-page="home" href="./index.html#home">Home</a>
                    </li>
                    <li class="">
                        <a data-link-page="portfolio" href="./portfolio.html#portfolio">Contact Us</a>
                    </li>
                    <li class="">
                        <a data-link-page="contact" href="./contact.html#contact">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>